body{
	display: flex;
	background-image: linear-gradient(to bottom, #3f7b43, #34b03d, #5be264);
	background-repeat: no-repeat;
	height: 800px;
	align-items: center;
	justify-content: center;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b5dc97;
	border-radius: 40px;
	border: solid;
	border-color: #b6f5ba;
	width: 30%;
	height: 80%;
}
form{
	font-family: verdana;
	font-size: 16px;
}